/* Обнуление */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}

nav,
folder,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*! Конец обнуления */

body {
	background: url(../img/back.jpg) 0 0 / cover no-repeat;
	display: flex;
	align-items: center;
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 15px solid #fff;
	border-radius: 50%;
	margin: 50px auto;
	padding: 2rem;
	position: relative;
}

.clock-face {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateY(-3px);
}

.hand {
	width: 50%;
	height: 7px;
	background: #000;
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
	background: rgb(255, 0, 0);
}
